# Go binaries
bin/*
*.rpm
scraper

# Go modules
vendor/
go.sum

# React build output
build/

# Node modules
node_modules/

# Logs
*.log

# Editor and IDE files
.idea/
.vscode/
*.swp
*.swo
*.iml

# System files
.DS_Store

# Env files
.env
